<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="bootstrap.php" 
         colors="true"
         stopOnFailure="false"
         stopOnError="false">
    
    <testsuites>
        <testsuite name="REST API Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        
        <testsuite name="Basic REST Tests">
            <file>./tests/RestTestClean.php</file>
        </testsuite>
        
        <testsuite name="Advanced REST Tests">
            <file>./tests/RestAdvancedTest.php</file>
        </testsuite>
        
        <testsuite name="Index Tests">
            <file>./tests/IndexTest.php</file>
        </testsuite>
        
        <testsuite name="Session Tests">
            <file>./tests/SessionTest.php</file>
        </testsuite>
        
        <testsuite name="Import Tests">
            <file>./tests/ImportTest.php</file>
        </testsuite>
    </testsuites>
    
    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
        <server name="HTTP_HOST" value="localhost"/>
        <server name="REMOTE_ADDR" value="127.0.0.1"/>
        <server name="REQUEST_URI" value="/api/"/>
        <server name="REQUEST_METHOD" value="GET"/>
        <server name="CONTENT_TYPE" value="application/json"/>
    </php>
    
    <!-- Modern Code Coverage Configuration for PHPUnit 11+ -->
    <source>
        <include>
            <directory suffix=".php">.</directory>
            <directory suffix=".php">../lib/</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>test_data</directory>
            <file>bootstrap.php</file>
            <file>phpunit</file>
            <file>../lib/XLSXbuf.php</file>
        </exclude>
    </source>
</phpunit>