# Python cache
__pycache__/
*.py[cod]

# Env & DB
.env
db.sqlite3

# Logs
*.log

# Audio & Model files
audio_files/
models/

# Packaging artifacts
dist/
build/
*.egg-info/

# Virtualenv
venv/
env/
myenv/
