include README.md
include requirements.txt
include requirements-test.txt
recursive-include ai_service *
recursive-include core *
recursive-include fixtures *
recursive-include tests *
recursive-include config *
recursive-exclude *.pyc
recursive-include ai_service/config *.yaml



